<tr id="<%= "comment_#{@comment.id}" %>">
  <td>
    <%= @comment.body %>
    <div class="edit-container"></div>
  </td>

  <td class="text-right">
    <%= link "Edit", to: comment_path(@conn, :edit, @comment), remote: true, class: "btn btn-default btn-xs" %>
    <%= link "Delete", to: comment_path(@conn, :delete, @comment), method: :delete, remote: true, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
  </td>
</tr>
