<tr id="<%= "comment_#{@comment.id}" %>">
  <td><%= @comment.body %></td>

  <td class="text-right">
    <%= link "Edit", to: comment_path(@conn, :edit, @comment), class: "btn btn-default btn-xs" %>
    <%= link "Delete", to: comment_path(@conn, :delete, @comment), method: :delete, remote: true, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
  </td>
</tr>
