<h2>Listing comments</h2>

<%= render "form.html", changeset: @changeset,
                        action: comment_path(@conn, :create) %>

<table class="table" id="comments">
  <thead>
    <tr>
      <th>Body</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render_many @comments, Commentator.CommentView, "comment.html", conn: @conn %>
  </tbody>
</table>
